@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "JetBrains Mono", serif; */
  font-family: "Bricolage Grotesque", serif;
}

.jetbrains {
  font-family: "JetBrains Mono", serif;
}

/* Custom CSS */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
